<style>
body                {max-width:600px; margin:auto; font-family: Arial, sans-serif; font-size: 12px; }
img                  {height:auto; max-height:auto; max-width:100%;}
table                {max-width:600px!important; border-spacing:0!important; border:none; }
td                     {cellpadding:0px; border-spacing:0px;}
tr                      {cellpadding:0px; border-spacing:0px;}
.headline          {padding:0px; font-size:30px;}
.paragraph       {font-size:14px;}
@media only screen and (max-width: 480px) 
 {
.containerbox         {width:480px!important; max-width:480px!important; margin:0 auto!important;  clear:both!important;}
table                     {width:100%;}
.headline              {font-size:20px;}
.paragraph           {font-size:16px;}
}
</style>

<body>
<div align="center" class="containerbox">
<center>
<!--[if !mso]><!--><table align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0"  style=" max-width:600px!important; width:100%;"><!--<![endif]-->
<!--[if gte mso 9]><table  align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="600" ><![endif]-->
			<tr>
			<td>
			<table width="536" cellspacing="0" cellpadding="0" border="0" style="width:402.0pt">
		
	
		<tbody>
			<tr>
				<td style="padding:0cm 0cm 0cm 0cm">
					<p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><img width="536" src="https://ci5.googleusercontent.com/proxy/kFEg43XzDolNlMtLY8UOrwTImaxeJZI9wFLR6G0li7ulpQAYXNa50ODjwq1XbABldugmDd2XLJWXHc1M08IH9RcHzXAjvMNWqdmuaSaZQragiMhH7U6ZjaMJP_bj=s0-d-e1-ft#http://static.rentacar.fr/images/email/header_reservation-agence_fr.jpg" class="CToWUd"><u></u><u></u></span></p>
				</td>
			</tr>
			<tr>
				<td style="padding:0cm 0cm 0cm 0cm">
					<p><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">ID CITELIS:
					<b>0047_5467359</b><u></u><u></u></span></p>
					<p><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Agence départ SOISY / MONTMORENCY.<u></u><u></u></span></p>
					<p><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Bonjour,<u></u><u></u></span></p>
					<p><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Voici le récapitulatif de la réservation n°<b>0047R202710</b> d'un montant de
					<b>364.70 €</b> effectuée par antonio de moura. <u></u><u></u></span></p>
						<div>
							<p style="line-height:19.5pt;background:#2462ab" class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:white"><img src="https://ci6.googleusercontent.com/proxy/_6nFmF_dO1_anhLe4B5_wSAHE7fwtauuEwK-URAURInXGMAPvUs5SQ5Fi7stUPMzNddfCDoem-iCUaoap8oe_hLVzUvWuh0SI5WKyeVq=s0-d-e1-ft#http://static.rentacar.fr/images/email/blue-left-top.gif" class="CToWUd"><img src="https://ci5.googleusercontent.com/proxy/Pr1I-CUEVVKjRgKHyUo9X3shkD1WnCSGS7z03IRz4bbV3fubzJqWtF-kZRODFMWv--vsMjvIxZUqI9MQqDms2PKBnA46qz0IRSFFgYyyfA=s0-d-e1-ft#http://static.rentacar.fr/images/email/blue-right-top.gif" class="CToWUd">Réservation
					<u></u>
					<u></u>
				</span></b>
			</p>
		</div>
		<div style="border-top:none;border-left:solid #b4c8e3 1.0pt;border-bottom:none;border-right:solid #b4c8e3 1.0pt;padding:0cm 12.0pt 0cm 12.0pt">
		<table width="100%" cellspacing="0" cellpadding="0" border="0" style="width:100.0%">
		<tbody>
			<tr>
				<td style="padding:0cm 0cm 0cm 0cm">
				<p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Départ :</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">
				</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2166a9">20 avr. 2015 18:45:00</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><u></u><u></u></span></p>
				</td>
<td style="padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Retour :</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">
</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2166a9">29 avr. 2015 18:45:00</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><u></u><u></u></span></p>
</td>
</tr>
<tr>
<td style="padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Numéro de réservation :</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><br>
</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2166a9">0047R202710</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><u></u><u></u></span></p>
</td>
<td style="padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Véhicule :</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">
</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2166a9">1B</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><u></u><u></u></span></p>
</td>
</tr>
<tr>
<td style="padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Forfait :</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">
</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2166a9">900</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><u></u><u></u></span></p>
</td>
<td style="padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Options :</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">
</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2166a9"><br>
• Conducteur Additionnel : 63&nbsp;€</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><u></u><u></u></span></p>
</td>
</tr>
<tr>
<td style="padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Code promo :</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">
</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2166a9">Aucune promo</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><u></u><u></u></span></p>
</td>
<td style="padding:0cm 0cm 0cm 0cm"></td>
</tr>
</tbody>
</table>
</div>
<div>
<p style="line-height:19.5pt;background:#2462ab" class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><img src="https://ci3.googleusercontent.com/proxy/U2E-tRTMa-99GZBjZmF61TLSZfQmopqDfZKW8C29uNsetFYlHt8qO9NOWfvc_vQb8BBeJR-WmtJ6SR-Je1c8A3er7Snt3Flc2lRMojSE=s0-d-e1-ft#http://static.rentacar.fr/images/email/blue-left-bot.gif" class="CToWUd"><img src="https://ci6.googleusercontent.com/proxy/yoXWYTquUKmEFqbkDfVT80P1kreXGYv-Z42c8sNgUIcAAiJ975UWmGprU7Fn6QbrCkWmGA9ODPXc_8vToS31_OXpdnmZoZ22jcVlSggJRg=s0-d-e1-ft#http://static.rentacar.fr/images/email/blue-right-bot.gif" class="CToWUd"><u></u><u></u></span></p>
</div>
<div style="margin-top:12.0pt">
<p style="line-height:19.5pt;background:#2462ab" class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:white"><img src="https://ci6.googleusercontent.com/proxy/_6nFmF_dO1_anhLe4B5_wSAHE7fwtauuEwK-URAURInXGMAPvUs5SQ5Fi7stUPMzNddfCDoem-iCUaoap8oe_hLVzUvWuh0SI5WKyeVq=s0-d-e1-ft#http://static.rentacar.fr/images/email/blue-left-top.gif" class="CToWUd"><img src="https://ci5.googleusercontent.com/proxy/Pr1I-CUEVVKjRgKHyUo9X3shkD1WnCSGS7z03IRz4bbV3fubzJqWtF-kZRODFMWv--vsMjvIxZUqI9MQqDms2PKBnA46qz0IRSFFgYyyfA=s0-d-e1-ft#http://static.rentacar.fr/images/email/blue-right-top.gif" class="CToWUd">Coordonnées
 du client <u></u><u></u></span></b></p>
</div>
<div style="border-top:none;border-left:solid #b4c8e3 1.0pt;border-bottom:none;border-right:solid #b4c8e3 1.0pt;padding:0cm 12.0pt 0cm 12.0pt">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="width:100.0%">
<tbody>
<tr>
<td style="padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Nom :</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">
</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2166a9">de moura</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><u></u><u></u></span></p>
</td>
</tr>
<tr>
<td style="padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Prénom :</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">
</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2166a9">antonio</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><u></u><u></u></span></p>
</td>
</tr>
<tr>
<td style="padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Adresse :</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">
</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2166a9">17 avenue de paris<br>
95230 soisy sous montmorency FR</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><u></u><u></u></span></p>
</td>
</tr>
<tr>
<td style="padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Numéro de téléphone :</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">
</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2166a9">0614184175</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><u></u><u></u></span></p>
</td>
</tr>
<tr>
<td style="padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Adresse e-mail :</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">
</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2166a9"><a target="_blank" href="mailto:montubeajdm@gmail.com">montubeajdm@gmail.com</a></span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><u></u><u></u></span></p>
</td>
</tr>
<tr>
<td style="padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><br>
<strong><span style="font-family:&quot;Arial&quot;,sans-serif">Informations du conducteur principal
</span></strong><br>
<strong><span style="font-family:&quot;Arial&quot;,sans-serif">Nom : </span></strong>de moura<br>
<strong><span style="font-family:&quot;Arial&quot;,sans-serif">Prénom : </span></strong>antonio<br>
<strong><span style="font-family:&quot;Arial&quot;,sans-serif">Date de naissance : </span></strong>30 nov. 1976<br>
<strong><span style="font-family:&quot;Arial&quot;,sans-serif">Permis de conduire N° : </span>
</strong>940995200203<br>
<strong><span style="font-family:&quot;Arial&quot;,sans-serif">Date d'obtention : </span></strong>7 avr. 1995 00:00:00<u></u><u></u></span></p>
</td>
</tr>
</tbody>
</table>
</div>
<div>
<p style="line-height:19.5pt;background:#2462ab" class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><img border="0" src="https://ci3.googleusercontent.com/proxy/U2E-tRTMa-99GZBjZmF61TLSZfQmopqDfZKW8C29uNsetFYlHt8qO9NOWfvc_vQb8BBeJR-WmtJ6SR-Je1c8A3er7Snt3Flc2lRMojSE=s0-d-e1-ft#http://static.rentacar.fr/images/email/blue-left-bot.gif" class="CToWUd"><img border="0" src="https://ci6.googleusercontent.com/proxy/yoXWYTquUKmEFqbkDfVT80P1kreXGYv-Z42c8sNgUIcAAiJ975UWmGprU7Fn6QbrCkWmGA9ODPXc_8vToS31_OXpdnmZoZ22jcVlSggJRg=s0-d-e1-ft#http://static.rentacar.fr/images/email/blue-right-bot.gif" class="CToWUd"><u></u><u></u></span></p>
</div>
<div style="margin-top:12.0pt">
<p style="line-height:19.5pt;background:#2462ab" class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:white"><img border="0" src="https://ci6.googleusercontent.com/proxy/_6nFmF_dO1_anhLe4B5_wSAHE7fwtauuEwK-URAURInXGMAPvUs5SQ5Fi7stUPMzNddfCDoem-iCUaoap8oe_hLVzUvWuh0SI5WKyeVq=s0-d-e1-ft#http://static.rentacar.fr/images/email/blue-left-top.gif" class="CToWUd"><img border="0" src="https://ci5.googleusercontent.com/proxy/Pr1I-CUEVVKjRgKHyUo9X3shkD1WnCSGS7z03IRz4bbV3fubzJqWtF-kZRODFMWv--vsMjvIxZUqI9MQqDms2PKBnA46qz0IRSFFgYyyfA=s0-d-e1-ft#http://static.rentacar.fr/images/email/blue-right-top.gif" class="CToWUd">Règlement
<u></u><u></u></span></b></p>
</div>
<div style="border-top:none;border-left:solid #b4c8e3 1.0pt;border-bottom:none;border-right:solid #b4c8e3 1.0pt;padding:0cm 12.0pt 0cm 12.0pt">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="width:100.0%">
<tbody>
<tr>
<td style="padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Carte :</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">
</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2166a9">4974.50</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><u></u><u></u></span></p>
</td>
</tr>
<tr>
<td style="padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Numéro de facture :</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">
</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2166a9">0047R202710</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><u></u><u></u></span></p>
</td>
</tr>
<tr>
<td style="padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">Autorisation banque :</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855">
</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2166a9">606419</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><u></u><u></u></span></p>
</td>
</tr>
</tbody>
</table>
</div>
<div style="margin-bottom:12.0pt">
<p style="line-height:19.5pt;background:#2462ab" class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><img border="0" src="https://ci3.googleusercontent.com/proxy/U2E-tRTMa-99GZBjZmF61TLSZfQmopqDfZKW8C29uNsetFYlHt8qO9NOWfvc_vQb8BBeJR-WmtJ6SR-Je1c8A3er7Snt3Flc2lRMojSE=s0-d-e1-ft#http://static.rentacar.fr/images/email/blue-left-bot.gif" class="CToWUd"><img border="0" src="https://ci6.googleusercontent.com/proxy/yoXWYTquUKmEFqbkDfVT80P1kreXGYv-Z42c8sNgUIcAAiJ975UWmGprU7Fn6QbrCkWmGA9ODPXc_8vToS31_OXpdnmZoZ22jcVlSggJRg=s0-d-e1-ft#http://static.rentacar.fr/images/email/blue-right-bot.gif" class="CToWUd"><u></u><u></u></span></p>
</div>
</td>
</tr>
<tr>
<td style="padding:0cm 0cm 0cm 0cm">
<div align="center">
			<table width="536" cellspacing="0" cellpadding="0" border="0" style="width:402.0pt">
<tbody>
<tr style="height:30.0pt">
<td width="97" style="width:72.75pt;background:#015da8;padding:0cm 0cm 0cm 0cm;height:30.0pt">
</td>
<td width="227" style="width:170.25pt;background:#015da8;padding:0cm 0cm 0cm 0cm;height:30.0pt">
<p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><img width="227" height="40" border="0" alt="RESTONS CONNECTÉS" src="https://ci6.googleusercontent.com/proxy/JIZVDbUokuf4IwO5ym9ihRSSqAciYSrwLTjpEZPoq6weysYZ7CXR7qklUdI1q7mHWzUELEDeKXt26hiMW1GZm0NIp6Gh_FfbtVq4SghNh_kY=s0-d-e1-ft#http://static.rentacar.fr/images/email/trajet-simple/12.jpg" class="CToWUd"><u></u><u></u></span></p>
</td>
<td width="0" style="width:.3pt;background:#015da8;padding:0cm 0cm 0cm 0cm;height:30.0pt">
<p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><a><span style="text-decoration:none"><img border="0" src="https://ci6.googleusercontent.com/proxy/TD6kHhMW-ZpDlM-1s3CqAAusziokIes-KtWQR3a6U1sLCL_PGhlo5jmS79xq6IbLIwv3Nb78EfRRbpxWjUtUi_xG0XJee2NIz4w4jirtmTcD=s0-d-e1-ft#http://static.rentacar.fr/images/email/trajet-simple/13.jpg" class="CToWUd"></span></a><u></u><u></u></span></p>
</td>
<td width="13" style="width:9.75pt;background:#015da8;padding:0cm 0cm 0cm 0cm;height:30.0pt">
</td>
<td width="0" style="width:.3pt;background:#015da8;padding:0cm 0cm 0cm 0cm;height:30.0pt">
<p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><a target="_blank" href="https://www.facebook.com/rentacar.france"><span style="text-decoration:none"><img border="0" src="https://ci3.googleusercontent.com/proxy/j6-E7iZfJdv-nAIY1VlVwrautJxgXs2AkasPDDcgg2hrVGMAbDZAJFpx1brVG4IbmNvN9MdMJ9y-Bwg2GHfyiCfmEPBuYm6AGHZZKMpAAljf=s0-d-e1-ft#http://static.rentacar.fr/images/email/trajet-simple/14.jpg" class="CToWUd"></span></a><u></u><u></u></span></p>
</td>
<td width="13" style="width:9.75pt;background:#015da8;padding:0cm 0cm 0cm 0cm;height:30.0pt">
</td>
<td width="0" style="width:.3pt;background:#015da8;padding:0cm 0cm 0cm 0cm;height:30.0pt">
<p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><a target="_blank" href="https://plus.google.com/+rentacarfrance"><span style="text-decoration:none"><img border="0" src="https://ci4.googleusercontent.com/proxy/GY-QKGYSv2NEpdHjV63ymuwd2i0J6uHFHx1X9ClMzRN98wJb_fwXVvtE3Fy1J-CLvgEV_7TLe2Vgnqznfggfay7_7a3XDuqsu_iSTD6diSul=s0-d-e1-ft#http://static.rentacar.fr/images/email/trajet-simple/15.jpg" class="CToWUd"></span></a><u></u><u></u></span></p>
</td>
<td width="13" style="width:9.75pt;background:#015da8;padding:0cm 0cm 0cm 0cm;height:30.0pt">
</td>
<td width="0" style="width:.3pt;background:#015da8;padding:0cm 0cm 0cm 0cm;height:30.0pt">
<p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#3a4855"><a target="_blank" href="http://www.rentacar.fr/contact"><span style="text-decoration:none"><img border="0" src="https://ci5.googleusercontent.com/proxy/zgjwCx8PHBS7bsey9PbFxE0AkV-CSy4ZPSwVo70DUp8JqjlxiC-2EVxYEGh_c4UO8tYPhXAmw3u6EwLZCsNtQSmR762-D3vEwItjVI44ZWAw=s0-d-e1-ft#http://static.rentacar.fr/images/email/trajet-simple/16.jpg" class="CToWUd"></span></a><u></u><u></u></span></p>
</td>
<td width="98" style="width:73.5pt;background:#015da8;padding:0cm 0cm 0cm 0cm;height:30.0pt">
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</center></div>
</body><span style="font-size: 16px;"> </span>
